extends layout

block content
  h1= title
  p Welcome to SIT: Take My Kids

  //WRAPPER
  #wrapper

    //SITTER INFO
    #sitterInfo
      h2 Babysitter Info
      p
        strong Name:
          <span id='sitterInfoName'></span>
        br
        strong Phone:
          <span id='sitterInfoPhone'></span>
        br
        strong E-Mail:
          <span id='sitterInfoEmail'></span>
        br
    // /SITTER INFO

    //REQUEST LIST
    h2 Requests
    #sitterRequestList
      table
        thead
          th Request Sent
          th Babysitter
          th Date Needed
          th Time
          th Where
          th Message
          th Delete

        tbody

          // /REQUEST LIST


    // RESPONSE LIST
    h2 Responses
    #sitterResponseList
      table
        thead
          th From
          th Response
          th Delete

        tbody

    // / RESPONSE LIST



    //SITTER LIST
    h2 Babysitters
    #sitterList
      table
        thead
          th#sitterWho Babysitter
          //th Phone
          //th Email
          th Update
          th Delete

        tbody


    // SITTER LIST




  //ADD SITTER
  #addSitterPanel
    h2 Add A Babysitter
    #addSitter
      fieldset
        label Name
        br
        input#inputSitterName(type='text', placeholder='Babysitter')
        br
        label Phone
        br
        input#inputSitterPhone(type='text', placeholder='1 + area code no dashes')
        br
        Label E-Mail
        br
        input#inputSitterEmail(type='text', placeholder='email')
        br
        button#btnAddSitter  Add Sitter
    // /ADD SITTER

  //UPDATE SITTER
  #updateSitterPanel
    h2 Update A Babysitter
    #updateSitter
      fieldset
        input#updateSitterName(type='text', placeholder='Babysitter')
        br
        input#updateSitterPhone(type='text', placeholder='Phone')
        br
        input#updateSitterEmail(type='text', placeholder='email')
        br
        button#btnUpdateSitter Update Sitter
        button#btnCancelUpdateSitter Cancel
    // /UPDATE SITTER


  // WRAPPER
