extends layout

block content
  h1= title
  p Welcome to SIT: Take My Kids

  //WRAPPER
  #wrapper
    //SITTER INFO
    #sitterInfo
      h2 Babysitter Info
      p
        strong Name:
          <span id='sitterInfoName'></span>
        br
        strong Phone:
          <span id='sitterInfoPhone'></span>
        br
        strong E-Mail:
          <span id='sitterInfoEmail'></span>
        br
    // /SITTER INFO

    //SITTER LIST
    h2 Babysitters
    #sitterList
      table
        thead
          th#sitterWho Babysitter
          th Phone
          th Email
          th Delete / Update?
          th#sitterCheck Select
        tbody
         // button#sendRequest Send Request

    // SITTER LIST

    //REQUEST SITTER

    h2 Request A Sitter
    #requestSitter
      form#request(action='/request', name='requestsitter', method='post')
        fieldset
          input#requestSitterWho(type='text' name='who' class="requestwho" placeholder='Who?')
          br
          input#requestSitterWhen(type='datepicker' name='when' placeholder='When?')
          br
          input#requestSitterTimeStart(type='time' name='start' placeholder='Start Time?')
          br
          input#requestSitterTimeEnd(type='time' name='end' placeholder='End Time?')
          br
          input#requestSitterWhere(type='text' name='where' placeholder='Where?')
          br
          textarea#requestSitterNotes(name='message' cols='20' rows='5' placeholder='Notes?')
          br
          input(name='request', type='submit', value='Send', id='requet')
          //button#btnRequestSitter Request Sitter

    // / REQUEST SITTER

  //ADD SITTER
  #addSitterPanel
    h2 Add A Babysitter
    #addSitter
        fieldset
          input#inputSitterName(type='text', placeholder='Babysitter')
          br
          input#inputSitterPhone(type='text', placeholder='Phone')
          br
          input#inputSitterEmail(type='text', placeholder='E-Mail')
          br
          button#btnAddSitter  Add Sitter
    // /ADD SITTER

  //UPDATE SITTER
  #updateSitterPanel
    h2 Update A Babysitter
    #updateSitter
      fieldset
        input#updateSitterName(type='text', placeholder='Babysitter')
        br
        input#updateSitterPhone(type='text', placeholder='Phone')
        br
        input#updateSitterEmail(type='text', placeholder='E-Mail')
        br
        button#btnUpdateSitter Add Sitter
        button#btnCancelUpdateSitter Cancel
    // /UPDATE SITTER




  // WRAPPER

