doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/popupS.css')
    link(rel='stylesheet', href='/stylesheets/jquery.timepicker.css')
  body
    block content
    script(src='/vendors/jquery.min.js')
    script(src='/vendors/jquery-ui.js')
    script(src='/javascripts/handlers.js')
    script(src='/javascripts/sitterfunctions.js')
    script(src='/javascripts/requestfunctions.js')
    script(src='/javascripts/popups.js')
    script(src='/vendors/popupS.js')
    script(src='/vendors/jquery.timepicker.js')
    script(src='/vendors/datepair.js')






