//
   Created by crimmings on 1/12/16.

// holding template for drafts

    //REQUEST SITTER

     h2 Request A Sitter
     #requestSitter
       form#request(action='/request', name='requestsitter', method='post')
         fieldset
           label Who?
           input#requestSitterWho(type='text' name='who' class="requestwho" placeholder='Who?')
           br
           label Date?
           input#requestSitterWhen(type='datepicker' name='when' placeholder='When?')
           br
           label Start Time?
           input#requestSitterTimeStart(type='time' name='start' placeholder='Start Time?')
           br
           label End Time?
           input#requestSitterTimeEnd(type='time' name='end' placeholder='End Time?')
           br
           label Where?
           input#requestSitterWhere(type='text' name='where' placeholder='Where?')
           br
           label Message?
           textarea#requestSitterNotes(name='message' cols='20' rows='5' placeholder='Notes?')
           br
           input(name='request', type='submit', value='Send', id='requestinput')
           //button#btnRequestSitter Request Sitter

     // / REQUEST SITTER

